/* RESEET */
*{margin: 0;padding:0;font-size:100%;box-sizing:border-box;
font-family: 'Open sans',sans-serif}
nav,ul{
	list-style: none;
}
a{
	text-decoration:none;
	cursor: pointer;
	opacity:0.9;
}
a:hover{
	opacity: 1; 
}

/* HEADER */

header{
	background-color: ;
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background-color: #fff; 
}
header img {
	width: 200px;
}
header li a {
	color: #191c03;

}
header li {
	margin: 0px 10px ;
}
header li:first-child {
	margin-left: 0px;
}
header li:last-child {
	margin-right: 0px;
}
nav ul {
	display: flex;
}
@media (max-width: 700px){
	header{
		flex-direction: column;
		}
		header img {
			margin-bottom: 15px;
		}
}

/* HERO */


.hero{

	background-image: url(../img/hero.jpg);
	background-size: cover;
	min-height: 100vh;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.hero h1 {
	font-size: 3.2rem;
	margin-bottom: 15px;

}
.hero h3 {
	font-size: 2rem;
	margin-bottom: 15px;
}
.hero .btn {
	background-color: #fff;
	border-radius: 4px;
	color: #191c03;
	padding: 20px 50px;
	text-transform: uppercase;
}
@media (max-width: 700px){
	.hero h1 {
		font-size: 2.5rem;

	}
	.hero h3 {
		font-size: 1.5rem;
		
	}
		
}

/* Conheça o Hotel */

.conheca-hotel {
	display: flex;
	flex-direction: column;
	align-items:center;
	padding:100px 50px;
}
.conheca-hotel h3 {
	font-size:2rem;
	margin-bottom: 35px;
	color: #191c03;
	text-align:center;	
}

.conheca-hotel p {
	max-width: 800px;
	margin-bottom: 35px;
	color: #191c03;	
	text-align:center;
}

.conheca-hotel hr {
	width: 200px;
	height: 2px;
	background-color:#191c03;
	margin-bottom: 70px;
	border: none;
}
.conheca-hotel .grid{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
}
.conheca-hotel .grid li {
	height: 350px;
	padding: 20px;
	border-radius: 4px;
	background-size: cover;
	background-clip: content-box;
}
.conheca-hotel .grid li.small {
	flex-basis:40%;
}
.conheca-hotel .grid li.large {
	flex-basis:60%;
}
@media (max-width: 700px){
	.conheca-hotel .grid li.small,
	.conheca-hotel .grid li.large{
		flex-basis: 100%;
	}

}


/* CARACTERÍSTICAS */

.caracteristicas {
	display: flex;
	flex-direction: column;
	align-items:center;
	padding:100px 50px;
	background: #191c03;
}
.caracteristicas h3 {
	font-size:2rem;
	margin-bottom: 35px;
	color: #fff;
	text-align:center;	
}

.caracteristicas p {
	max-width: 800px;
	margin-bottom: 35px;
	color: #fff;	
	text-align:center;
}

.caracteristicas hr {
	width: 200px;
	height: 2px;
	background-color:#fff;
	margin-bottom: 70px;
	border: none;
}
.caracteristicas .grid{
	width: 100%;
	display: flex;
}
.caracteristicas .grid li {
	width:100%;
	text-align: center;
}
.caracteristicas .grid li i {
	color: #c3c63b;
	font-size:50px;
	margin-bottom: 30px;
}
.caracteristicas .grid li h4 {
	font-size: 1.5em; color: #c3c63b;
	margin-bottom: 30px;	
}
.caracteristicas .grid li p {
	color: #fff;
}

@media (max-width: 850px){
	.caracteristicas .grid {
		flex-direction: column;
	}

}

/* News latter */

.newslatter {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;

}
.newslatter h3 {
	font-size:2rem;
	margin-bottom: 35px;
	color: #c3c63b;
	text-align:center;	
}

.newslatter p {
	max-width: 800px;
	margin-bottom: 35px;
	color: #c3c63b;	
	text-align:center;
}

.newslatter hr {
	width: 200px;
	height: 2px;
	background-color:#c3c63b;
	margin-bottom: 70px;
	border: none;
}
.newslatter form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	max-width: 800px;
}
.newslatter input {
	padding: 15px;
	border:1px;
	border:1px solid #c3c63b;
	border-radius:4px;
	margin-right:15px;
	flex:1;
}
.newslatter button {
	padding:15px;
	background: #c3c63b;
	color: #191c03;
	text-transform: uppercase;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
@media (max-width: 700px){
	.newslatter input{
		flex-basis: 100%;
		margin-bottom:15px;
	}
}
